
#container{
    width: 700px;
    height: 700px;
    border-color: red;
    border-style: solid;
    background-color: blueviolet;

    display: flex;
    flex-wrap: wrap;
}

.pixel{
    box-sizing: border-box;
    border-color: hsl(0, 0%, 50%);
    border-width: 1px;
    border-style: solid;
    background-color: white;
}


.pixel.active{
    background-color: hsl(0, 0%, 10%);
}